<!DOCTYPE html>
<html lang="en" class="h-max html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="my_sudomein_list" data-subdomein="{{ subdomein_list }}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="/static/index.css">
    <title>Domeinen - Suor</title>
</head>
<body class="h-max html" >
    <main class="h-max aliceblue">
        <div class="flex-around flex-container navbar">
            <h3>{{ title }}</h3>
            <a href={{ url_for('index') }}><h3>Overzicht</h3></a>
        </div>
        <!--outline 2de <p> naar rechts-->
        <hr>

        <header>
            <div class="ol-b bedrijf-titel" >
                <p class="bedrijf-naam h3">{{ info.bedrijfsnaam }}</p>
            </div>
        </header>
        <!-- <div class="">
            <article id="scores">
                <h2>Scores</h2>
                <div>
                    <p>hier komt alle info over de scores en de scores zelf</p>
                </div>
            </article>
        </div> -->

        <section class="container">
            <div class="esg-div row">
            {% for hoofddomein in hoofddomeinen %}

                <table class="col-sm table table-light border border-dark thead-dark">
                    <thead class="score-head">
                        <tr>
                            <th>{{ hoofddomeinen[hoofddomein] }}</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody class="score-table">
                        <tr>
                            <td>Gemiddelde</td>
                            <td>{{"%.5f" | format(hoofddomeinscores[hoofddomein]) }}</td>
                        </tr>
                        {% for subdomein in domeinmapper[hoofddomeinen[hoofddomein]] %}
                        </tr>
                            <td>{{ subdomein }}</td>
                            <td>{{ "%.5f" | format(score_subdomeinmapper[subdomein]) }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
        </section>
        <section class="container" id="graphs">
            <div id="subdom_scores" style="margin: 1rem"></div>
            <div id="situering" style="margin: 1rem"></div>
        </section>
       <article class="info">
            <h2>Algemene Info</h2>
            <div>
                <table id="data" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Adres</th>
                            <th >Website</th>
                            <th>Personeel</th>
                            <th>Omzet</th>
                            <th>Sector</th>
                            <th>Ondernemingsnummer</th>
                            <th>Duurzaamheids-score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="info-tabel">
                            <td>{{ info.adres }} {{ info.gemeente }}</td>
                            {% set list1 = info.url.split('/') %}
                            <td><a href={{ info.url }} target="_blank">{{ list1[2] }}</a></td>
                            <td>{{ info.personeelsbestand }}</td>
                            <td>{{ info.omzet }}</td>
                            <td>{{ info.sector }}</td>
                            <td>{{ info.ondernemingsnummer }}</td>
                            <td>{{ "%.5f" | format(info.duurzaamheid) }}</td>
                            
                        </tr>

                    </tbody>
                </table>
            </div>
        </article>
    </main>
</body>
</html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    //load the first chart
    google.charts.setOnLoadCallback(drawChart1);

    //load the second chart
    google.charts.setOnLoadCallback(drawChart2);

    var score_subdomeinmapper = JSON.parse('{{ score_subdomeinmapper|tojson|safe }}');

    const sector_avg = JSON.parse('{{ nieuwe_score_dict|tojson|safe }}');

    const header_chart1 = [["subdomein", "score", { role: "style" }]];
    for(const [subdom,score] of Object.entries(sector_avg)){
        if(score < 0){
            header_chart1.push([subdom,parseFloat(score),"color: darkred "]);
        } else{
            header_chart1.push([subdom,parseFloat(score),"color: darkgreen "]);
        }
    };

    function drawChart1() {
      var data = google.visualization.arrayToDataTable(
        header_chart1
      );
      
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Relatieve score t.o.v. sectorgemiddelde per subdomein",
        width: 900,
        height: 450,
        bar: {groupWidth: "85%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("subdom_scores"));
      chart.draw(view, options);    
    }

    function drawChart2() {
        const perc_dict = JSON.parse('{{ perc_dict|tojson|safe }}');
        console.log(perc_dict);
        const header_chart2 = [["subdomein", "aantal kmo's", { role: "style" }]];
        const percentile_kmo = perc_dict.this;

        let counter =0;
        for(const [perc,count] of Object.entries(perc_dict)){
            if(perc=="this"){
                continue;
            }
            if(counter == percentile_kmo){
                header_chart2.push([perc,count,"color: darkgreen"]);
            }else{
                header_chart2.push([perc,count,"color: #00008B"]);
            }
            counter++;
        };
        console.log(header_chart2)
        var data = google.visualization.arrayToDataTable(
            header_chart2
        );
  
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);
  
        var options = {
          title: "ESG relatieve score verdeling",
          width: 900,
          height: 450,
          bar: {groupWidth: "70%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("situering"));
        chart.draw(view, options);
    }
</script>